:root {
  --main-bg-color: #06262c;
  --second-bg-color:  #21839425;
  --accent-color: #0aafb1;


}

section{
	padding: 6em;
	background-color: var(--main-bg-color)

}

.vCard{
	display: flex;
	flex-wrap: nowrap;
	border-radius: 10px;
	padding: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4em;
}

/* .blur{

	width: 350px; height: 350px;
	background-color: rgba(80, 137, 82, 0.318);
	border-radius: 50%;
	filter: blur(56px);
	position: absolute;
	} */

.profile > img{
	width: 400px;
	height: 400px;
	position: relative;
	border-radius: 50%;
	box-shadow: 20px;
}
.info > h1{
	font-size: 80px;
	letter-spacing: 1px;
	line-height: 100px;
	margin: 30px 0px;
}


.info{
	color: white;
	letter-spacing: 1px;
	line-height: 10px;
	margin: 0;

}

.blur{
	width: 350px; height: 350px;
	background-color: rgba(24, 117, 27, 0.42);
	border-radius: 40%;
	filter: blur(84px);
	right: 180px;
	position: absolute;
}


.icons{

	display: flex;
	gap: 1em;
	flex-direction: row;
	margin-top: 20px;

}

.icons img{

	width: 35px; height: 35px;
	transform: scale();
	transition: 400ms;

}

.icons a :hover{
	transform: scale(130%);
	transition: 400ms;

}

@media screen and (max-width: 992px) {

	.vCard {
	display: flex;
	flex-direction: column;

}


.info > h1{
	
}

}