:root {
  --main-bg-color: #06262c;
  --second-bg-color:  #21839425;
  --accent-color: #0aafb1;
  --main-font: ;
}

.yo{

    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -.003em;
    line-height: 1.0834933333;
}


.card{
	display: flex;
	flex-direction: column;
	border-radius: 16px;
	padding: 1.4em;
	justify-content: center;
	background-color: var(--second-bg-color);
	color: rgb(199, 199, 199);
	transform: scale();
	transition: 500ms;
}


.card:hover {
	transform: scale(105%);
	transition: 500ms;
}

.card *{
	margin-top: 12px;
}


.card button{
	width: 120px;
	background-color: var(--accent-color);
	color: white;
	font-weight: 600;
	padding: 1em;
	border-radius: 30px;
	border: 1px solid #132e2f;
	transition: 300ms;

}
.card button:hover{
	transform: scale(110%);
	opacity: 60%;
	transition: 300ms;


}

.photo > img{
	width: 100%;
	height: 200px;
	border-radius: 8px;
	object-fit: cover;

}




.ticket:hover {
	transform: scale(110%);
	transition: 500ms;
}