@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --main-bg-color: #06262c;
  --second-bg-color:  #21839425;
  --accent-color: #0aafb1;
  --font-family: "Source Sans 3", sans-serif;

}


/* App.css */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: var(--main-bg-color);
  box-shadow: 10px, 10px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 1em;
}

header > img{
  width: 80px;
}

nav ul {
  list-style-type: none;
  display: flex;
}


nav * {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.2em;
  font-weight: 600;
}

nav *:hover {
  color: #61dafb; /* React's default blue color for a nice effect */
  transition: color 0.3s ease-in-out;
}


/* Add more styles for other components */
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 2s;
}


body.light {
  background-color: #fff;
  color: #000;
}

body.dark {
  background-color: #000;
  color: #fff;
}

/* Add specific styles for light and dark themes */
